/*Zeroing*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #000;
	overflow-x: hidden;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input ::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button ::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}

.main {
	height: 100vh;
	width: 100vw;
	position: relative;
	background: url("../img/main-bg.jpg") no-repeat;
	background-size: cover;
	background-position: fixed;
}

.main::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.7);
}

.main__body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 5;
}

.main__amount {
	text-align: center;
	background: #8f5908;
	border-radius: 30px;
	padding: 25px;
	border: 3px solid #fff;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}

.main__box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 50%;
}

.box__container {
	margin: 10px 20px;
	cursor: pointer;
	position: relative;
	border-radius: 150px;
	overflow: hidden;
}

.box__img {
	position: relative;
	max-width: 150px;
	border-radius: 150px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.box__text {
	color: #e8ff1d;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	z-index: 11;
	font-size: 18px;
	text-shadow: 1px 1px 3px #000;
	text-align: center;
}

.box__text span {
	display: block;
}

.box__img.active {
	opacity: 0;
	transition: 1s;
}

.box__text.active {
	opacity: 1;
	font-size: 26px;
	transition: opacity 1s, font-size 1.5s;
}

.block {
	width: 60px;
	height: 70px;
	background: rgb(37, 37, 37);
	position: absolute;
	z-index: 10;
	filter: blur(5px);
}

.block0 {
	top: -10px;
	left: -60px;
}

.block1 {
	top: 50px;
	right: -60px;
}
.block2 {
	top: 100px;
	left: -60px;
}

.block0.active {
	top: -10px;
	left: -10px;
	transition: 0.3s;
}

.block1.active {
	top: 50px;
	right: -10px;
	transition: 0.3s;
}
.block2.active {
	top: 100px;
	left: -10px;
	transition: 0.3s;
}

@media (max-width: 720px) {
	.container {
		padding: 0;
		max-width: 720px;
	}
	.main__box {
		max-width: 100%;
	}
	.box__img {
		max-width: 60px;
	}
	.block {
		width: 60px;
		height: 20px;
		background: rgb(37, 37, 37);
		position: absolute;
		z-index: 10;
		filter: blur(5px);
	}

	.block0 {
		top: -10px;
		left: -60px;
	}

	.block1 {
		top: 20px;
		right: -60px;
	}
	.block2 {
		top: 40px;
		left: -60px;
	}

	.block0.active {
		top: -10px;
		left: -10px;
		transition: 0.3s;
	}

	.block1.active {
		top: 20px;
		right: -10px;
		transition: 0.3s;
	}
	.block2.active {
		top: 40px;
		left: -10px;
		transition: 0.3s;
	}
	.box__text {
		font-size: 14px;
	}
	.box__text.active {
		font-size: 18px;
	}
}
